<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragment/head::head(title = 'BBSCommunity')"></head>

<body>

<header th:replace="/fragment/header::header"></header>

<div class="container main" style="max-width: 1200px">
    <div class="my-5">
        <h1 th:text="${board.boardName} + ' 게시판'">Board Title</h1>
        <p th:text="${board.describe}">Board Describe</p>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>글번호</th>
                <th>작성자</th>
                <th>조회수</th>
                <th>제목</th>
                <th>작성일시</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="post : ${board.getPostPage}">
                <td th:text="${post.postId}" >글번호</td>
                <td th:text="${post.authorNickname}">작성자</td>
                <td th:text="${post.views}">조회수</td>
                <td>
                    <a th:href="@{/board/{boardAddress}/{postId} (boardAddress=${boardAddress}, postId=${post.postId} )}"
                       th:text="${post.title}">글제목</a>
                </td>
                <td th:text="${#temporals.format(post.lastModifiedTime, 'MM.dd-hh:mm')}">작성일시</td>
            </tr>
        </tbody>
    </table>



        <button class="btn-primary btn float-end my-1"
                th:onclick="'location.href=\'' + @{/board/{boardAddress}/write (boardAddress=${boardAddress})} + '\''" >
            글쓰기
        </button>

        <div th:if="${!board.getPostPage.isEmpty()}">
                    <ul class="pagination justify-content-center"
                        th:with=" start = ${T(Math).floor(board.postPage.number/10)*10 +1} ,
                         last=(${start + 9 < board.postPage.totalPages ? start + 9 : board.postPage.totalPages})">

                        <li class="page-item" th:if="${!board.postPage.first}">
                            <a class="page-link" th:href="@{/board/{name} (name=${boardAddress} , page=1)}" aria-label="First">
                                <span aria-hidden="true">First</span>
                            </a>
                        </li>

                        <li class="page-item" th:if="${!board.postPage.first}">
                            <a class="page-link" th:href="@{/board/{name} (name=${boardAddress} , page=${ board.postPage.number })} " aria-label="Previous">
                                <span aria-hidden="true">&lt;</span>
                            </a>
                        </li>

                        <li class="page-item" th:each="pageNumber: ${#numbers.sequence(start , last )}" th:class="${pageNumber ==  board.postPage.number} ? 'active'">
                            <a class="page-link" th:text="${pageNumber}" th:href="@{/board/{name} (name=${boardAddress} , page=${pageNumber})}"></a>
                        </li>

                        <li class="page-item" th:if="${!board.postPage.last}">
                            <a class="page-link" th:href="@{/board/{name} (name=${boardAddress} , page=${ board.postPage.number + 2})} " aria-label="Next">
                                <span aria-hidden="true">&gt;</span>
                            </a>
                        </li>

                        <li class="page-item" th:if="${!board.postPage.last}">
                            <a class="page-link" th:href="@{/board/{name} (name=${boardAddress} , page=${ board.postPage.totalPages})}" aria-label="Last">
                                <span aria-hidden="true">Last</span>
                            </a>
                        </li>

                    </ul>
            </div>
    <br/>


</div>

<footer th:replace="/fragment/footer::footer"></footer>

</body>
</html>