<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title th:text="'BBSCommunity'">Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <script th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <script src="/js/bootstrap.min.js"></script>

    <style>
        .main{
            min-height: 76vh;
        }
    </style>
</head>

<body>

<header th:replace="/fragment/header::header"></header>

<div class="container main" style="max-width: 1200px">
        <h1 th:text="#{boardList}" class="my-5">board List</h1>


        <form th:action="@{/board/search}" method="get">
            <div class="m-2 input-group">
                <input  class="form-control" type="text" name="parameter" id="parameter" placeholder="검색">
                <button type="submit" class="btn btn-outline-primary">검색</button>
            </div>
        </form>



    <div th:each="board : ${boardList}" class="border border-dark border-3 rounded m-3 p-2 ">
        <a th:text="( ${board.name} + ' ' + #{boardName} )" class="h4" th:href="@{${board.address}}">Board Name</a>
        <span class="float-end" th:text="${board.primeManager}">작성자</span>
        <span class="float-end mx-2" >|</span>
        <span class="float-end" th:text="${#temporals.format(board.createDate, 'yyyy-MM-dd')}">생성일</span>
        <p th:text="${board.describe}" th:class="small">Describe</p>
    </div>
</div>

<footer th:replace="/fragment/footer::footer"></footer>

</body>
</html>