<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragment/head::head(title='BBSCommunity')"></head>

<body>

<header th:replace="/fragment/header::header"></header>

<div class="container main text-center" style=" max-width: 80vh">

    <div style="padding-top: 50px">
        <h1>게시판 생성</h1>
    </div>

    <form th:object="${modifyForm}" th:action="@{/board/{boardAddress}/modify(boardAddress=${boardAddress})}" method="post">

        <div class="form-floating m-2">
            <input type="text" class="form-control"  th:field="*{name}"  placeholder="address">
            <label th:for="*{name}">게시판 이름</label>
        </div>

        <div class="form-floating m-2">
            <textarea type="text" class="form-control" th:field="*{describe}" style="height: 40vh" placeholder="address" />
            <label th:for="*{describe}">게시판 설명</label>
        </div>

        <button class="btn btn-primary float-end" type="submit">확인</button>

    </form>

</div>

<footer th:replace="/fragment/footer::footer"></footer>
</body>

</html>