<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="/fragment/head::head(title = ${viewPost.title})"></head>

<body>

<header th:replace="/fragment/header::header"></header>

<div class="container main" style="max-width: 1200px">
    <div style="padding-top: 50px">
        <h1 th:text="${viewPost.getBoardName} + ' 게시판'">게시판</h1>
        <h3 th:text="${viewPost.title}">제목</h3>
        <div th:text="'작성자 : ' + ${viewPost.authorNickname} ">작성자</div>  &nbsp;
        <div th:text="'조회수 ' + ${viewPost.views}">조회수</div>
        <p th:text="'작성일시 ' + ${#temporals.format(viewPost.createDate, 'yyyy-MM-dd hh:mm:ss')}">작성시간</p>
        <p class="border-top border-1 border-dark" th:utext="${viewPost.content}">본문</p>
    </div>

    <button class="btn btn-secondary" th:if="${viewPost.author}"
            th:onclick="'location.href=\'' +
            @{/board/{boardAddress}/{postId}/modify (boardAddress=${boardAddress}, postId=${postId})}
            + '\''">
        수정하기
    </button>
</div>

<footer th:replace="/fragment/footer::footer"></footer>

</body>
</html>