<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="/fragment/head::head"></head>

    <body>

        <header th:replace="/fragment/header::header"></header>

    <div class="container" style="max-width: 1200px">
        <div style="padding-top: 50px">
        <h1>bbsCommunity Home</h1>
        <h3 th:text="${message}"></h3>
        <a href="/member/edit/username">회원 아이디 수정폼</a>
        </div>
    </div>

        <footer th:replace="/fragment/footer::footer"></footer>

    </body>
</html>